@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Name: custom color palette
       Author: Ilias Ism
       URL: https://gradient.page */

    /* CSS: .bg-gradient { background: var(--gradient) } */
    --gradient: linear-gradient(to top left, #cc2b5e, #753a88);

    --background: -20 42.25% 3.92%;
    --foreground: -20 6.5% 97.45%;

    --muted: -20 32.5% 14.7%;
    --muted-foreground: -20 6.5% 54.9%;

    --popover: -20 52% 6.37%;
    --popover-foreground: -20 6.5% 97.45%;

    --card: -20 52% 6.37%;
    --card-foreground: -20 6.5% 97.45%;

    --border: -20 32.5% 14.7%;
    --input: -20 32.5% 14.7%;

    --primary: -20 65% 49%;
    --primary-foreground: -20 6.5% 4.9%;

    --secondary: -20 32.5% 14.7%;
    --secondary-foreground: -20 6.5% 97.45%;

    --accent: -20 32.5% 14.7%;
    --accent-foreground: -20 6.5% 97.45%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: -20 6.5% 97.45%;

    --ring: -20 65% 49%;
  }
}

body {
  color: hsl(var(--foreground));
  background: hsl(var(--background));
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
